@font-face {
  font-family: "dinot";
  src: url('../assets/fonts/dinot/DINOT-Regular.eot?1421975322');
  src: url('../assets/fonts/dinot/DINOT-Regular.eot?&1421975322#iefix') format('embedded-opentype'), url('../assets/fonts/dinot/DINOT-Regular.woff?1422542350') format('woff'), url('../assets/fonts/dinot/DINOT-Regular.ttf?1422542350') format('truetype'), url('../assets/fonts/dinot/DINOT-Regular.svg?1421975322') format('svg');
}
@font-face {
  font-family: "dinot-medium";
  src: url('../assets/fonts/dinot/DINOT-Medium.eot?1421975322');
  src: url('../assets/fonts/dinot/DINOT-Medium.eot?&1421975322#iefix') format('embedded-opentype'), url('../assets/fonts/dinot/DINOT-Medium.woff?1421975322') format('woff'), url('../assets/fonts/dinot/DINOT-Medium.ttf?1421975322') format('truetype'), url('../assets/fonts/dinot/DINOT-Medium.svg?1421975322') format('svg');
}
@font-face {
  font-family: "dinot-bold";
  src: url('../assets/fonts/dinot/DINOT-Bold.eot?1422309628');
  src: url('../assets/fonts/dinot/DINOT-Bold.eot?&1422309628#iefix') format('embedded-opentype'), url('../assets/fonts/dinot/DINOT-Bold.woff?1422309628') format('woff'), url('../assets/fonts/dinot/DINOT-Bold.ttf?1422309628') format('truetype'), url('../assets/fonts/dinot/DINOT-Bold.svg?1422309628') format('svg');
}

// @font-face {
//   font-family: 'FontAwesome';
//   src: url("../assets/fonts/font-awesome/fontawesome-webfont.eot?v=4.6.3");
//   src: url("../assets/fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../assets/fonts/font-awesome/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../assets/fonts/font-awesome/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../assets/fonts/font-awesome/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../assets/fonts/font-awesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
//   font-weight: normal;
//   font-style: normal;
// }